body {
  font-family: Helvetica, sans-serif;
}

#popup {
  min-width: 500px;
  width: 800px;
  min-height: 10px;
  height: 300px;
  margin: 12px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.icon
{
	width:15px;
	height:15px;
}
.min-margin-right
{
margin-right:5px;
}
.bold
{
	font-weight:bold;
}
.large
{
	font-size:16px;
}

.clickable
{
	cursor: pointer;
}
.axis-hide text { display: none; }
      .axis-hide path {
        fill: none;
        stroke: black;
        shape-rendering: crispEdges;
      }
      .axis-hide line
      {
              fill: none;

      }

  .axis path,
      .axis line {
        fill: none;
        stroke: black;
        shape-rendering: crispEdges;
      }
      .axis text {
        font-family: sans-serif;
        font-size: 11px;
      }

