html, body {
  font-family: Helvetica, sans-serif;
  width:100%;
}

body { padding: 10px;}

#popup {
  min-width: 500px;
  min-height: 10px;
  height: 300px;
  margin: 12px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.icon
{
	width:15px;
	height:15px;
}
.plot {
  cursor: pointer;
}
.min-margin-right
{
margin-right:5px;
}
.bold
{
	font-weight:bold;
}
.large
{
	font-size:16px;
}

.clickable
{
	cursor: pointer;
}
.axis-hide text { display: none; }
      .axis-hide path {
        fill: none;
        stroke: black;
        shape-rendering: crispEdges;
      }
      .axis-hide line
      {
              fill: none;

      }

  .axis path,
      .axis line {
        fill: none;
        stroke: black;
        shape-rendering: crispEdges;
      }
      .axis text {
        font-family: sans-serif;
        font-size: 11px;
      }

ul.history-list {
  list-style: none;
  padding-left: 0;
  width: 100%;
}

ul.history-list li {
  padding-bottom:  5px;
  border-radius: 5px;
}

ul.history-list li a {
  padding: 5px;
  margin-bottom: 5px;
}

div.item-history {
  display: inline-block;
  padding: 5px;
  padding-left: 25px;
}

ul.history-list li img{
  display: inline-block;
  margin-top: 20px;
  position: absolute;
}

ul.history-list li:hover {
  background: #D0E5F7;
  text-decoration: none;
}

ul.history-list li:active {
  background: #AFCBE4;
  text-decoration: none;
}

ul.history-list li .item-title{
  padding-top: 2.5px;
  font-size: 12px;
  color: #aaa;
}

ul.history-list li .item-url{
  color: #428bca;
}
